@use "../theme.scss" as *;

.input-group {
  display: flex;
  width: 100%;
  margin-bottom: $form-control-vertical-gap;

  & > :not(:first-child) {
    margin-left: -$input-border-width;
  }

  & > .input-field,
  & > .input {
    margin-bottom: 0;
    &:focus {
      z-index: 1;
    }
  }

  & > .button-dim,
  & > .button {
    // flex: 1 0 auto;
    display: block;
    height: auto;
  }

  .input-group-text {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 92%);
    color: hsl(0, 0%, 20%);
    font-weight: normal;
    border-color: $input-border-color;
    border-width: $input-border-width;
    border-style: solid;
  }


  &.disabled .input-group-text {
    border-color: $input-disabled-border-color;
  }
}

.input-group .input,
.input-group select {
  display: flex;
  border-style: solid;
  box-sizing: border-box;
}

