@use "../theme.scss" as *;

/* remove clear-button in ie10+ */
::-ms-clear {
  display: none;
}

/* remove spinner buttons from browsers */

.input-field {
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
  }
  
  /* Show an outline for elements which cannot be highlighted by border colors */
  input[type="file"]:focus,
  input[type="radio"]:focus,
  input[type="checkbox"]:focus {
    outline: thin dotted $input-outline-focus-color;
    outline: 0.35em auto -webkit-focus-ring-color;
  }
  
  input[type="file"] {
    padding: 0;
  }
}
