@use "../theme.scss" as *;
@use "../icon.scss" as *;

.icogram {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.65em 0 0;
  }

  & > *:first-child {
    margin-left: 0;
  }

  & > *:last-child {
    margin-right: 0;
  }

  & > *:only-child {
    margin: 0;
  }

  & a.text {
    color: inherit;
  }

  &.ver {
    & > * {
      margin: 0;
    }
  }
}
