.vclGallery figure img {
  width: 100%;
}

.vclGallery .vclImage .vclPrevImage img {
  display: inline;
  cursor: pointer;
}

.vclGallery .vclImage .vclPrevImage {
  text-align: center;
}

.vclGallery .vclImage {
  margin-top: 1em;
  margin-bottom: 1em;
}