@import "normalize.css"
@import "@vcl/theme"

@import "@vcl/typography"
@import "@vcl/button"
@import "@vcl/container"
@import "@vcl/flex-layout"
@import "@vcl/grid"
@import "@vcl/utils"

.vclNag
  z-index: 400
  margin: 0
  border: 0
  border-radius: 0
  color: var(--nag-color)
  background-color: var(--nag-bg-color)
