/**
 * The VCL default theme.
 *
 * Defines all variables required by modules in the VCL org's repository.
 * The basic CI terms are defined in terms.sss. */

/**
 * The terms of the VCL default theme.
 *
 * Terms are colors, font faces etc.
 * Typically these terms are derived from CI or design
 * stipulations like a color palette in a style guide. */

:root {
  /* Colors
     ====== */

  /* Grays */

  /* Brand Accent Colors */

  /* Semantic Brand Colors */

  /* Shadows, transparencies etc. */

  /* Semantic Colors */

  /* Fonts
     ===== */
}

.body {
  background-color: #d9534f;
}

:root {
  /* Theme internally shared Variables
     --------------------------------- */

  /* App
     --- */

  /* App Content Area
     ---------------- */

  /* App Header
     ---------- */

  /* App Footer
     ---------- */

  /* Grid
     ---- */

  /* Flex Layout
     ----------- */

  /* Typography
     ---------- */
  /* Font settings */

  /* Modular scale variants */

  /* Colors */

  /* List
     ---- */

  /* Value Unit Anagram
     ------------------ */

  /* Label
     ---- */

  /* Badge
     ----- */

  /* Table
     ----- */

  /* Table Extras
     ------------ */

  /* Sum Table
     ---------- */

  /* Data List
     --------- */

  /* Data Tree
     --------- */

  /* Calendar
     ----------- */

  /* Pagination
     ---------- */

  /* Tab Navigation
     -------------- */

  /* Breadcrumb Navigation
     --------------------- */

  /* Navigation
     ----------- */

  /* Process Navigation
     ------------------ */

  /* Tooltip
     ------- */

  /* Popover
     ------- */

  /* Layer
     ----- */

  /* Nag
     --- */

  /* Scrollbar
     --------- */

  /* Ribbon
     ------- */

  /* Loading Layer
     ------------- */

  /* Container
     --------- */

  /* Go-to-top
     --------- */

  /* Divider
     ------- */

  /* Panel
     ----- */

  /* Toolbar
     -------- */

  /* Notification
     ------------ */

  /* Progress Bar
     ------------ */

  /* Callout
     ------- */

  /* Article Structuring
     ------------------- */

  /* Button
     ------ */

  /* Default variant */

  /* Emphasized variant */

  /* Transparent variant */

  /* Emphasized & transparent variant */

  /* Half transparent alternative variant */

  /* Transparent alternative variant */

  /* Danger variant */

  /* Suggestive variant */

  /* Form Control Label
     ------------------ */

  /* Fieldset
     -------- */

  /* Input
     ----- */

  /* File Input
     ---------- */

  /* Checkbox
     -------- */

  /* Radio Button
     ------------ */

  /* Input Group
     ----------- */

  /* Embedded Input Group
     -------------------- */

  /* Slider
     ------ */

  /* Rating
     ------ */

  /* Token
     ----- */

  /* Flip Switch
     ----------- */

  /* Drop Down
     --------- */

  /* Date Picker
     ----------- */

  /* Time Picker
     ----------- */

  /* Responsive Image
     ---------------- */

  /* Image Shapes
     ------------ */

  /* Gallery
     ------- */

  /* Drawer
     ------ */

  /* E-Mail
     ------ */

  /* Product List
     ------------ */
}

body {
  font-size: 0.875em;
  line-height: 1.428;
  color: rgb(48,48,48);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.vclViewport {
  font-size: 0.875em;
  line-height: 1.428;
  color: rgb(48,48,48);
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

abbr.vclInitialism {
    font-size: 93%;
    text-transform: uppercase;
}

mark {
  background: #ffff00;
  color: #000000;
}

/* Define quote characters for q element */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
  margin-top: 0;
  margin-bottom: 1.3em;
  margin-left: 1.8em;
  margin-right: 1.8em;
  padding-left: 1em;
  border-left-width: 0.3em;
  border-left-style: solid;
  border-left-color: rgb(221,221,221);
}

address {
  display: block;
  margin-top: 0;
  margin-bottom: 1.3em;
  font-style: normal;
}

pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 93%;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 93%;
}

kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 93%;
}

samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 93%;
}

kbd {
  padding-right: 0.8em;
  padding-left: 0.8em;
  border-radius: 0.85em;
  color: #FFF;
  background-color: #333;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25) inset;
}

/* Pre-formatted text. */

pre {
  margin-bottom: 1.1em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

pre.vclCode {
    border: 1px solid rgb(221,221,221);
    line-height: 1.2em;
    padding: 0.7em;
    overflow: auto;
    border-radius: 0;
    background-clip: padding-box;
    background-color: rgb(232,232,232);
}

pre.vclCode > code {
      padding: 0;
      white-space: pre;
}

code {
  padding: 0.15em 0.25em;
  white-space: nowrap;
  background-color: rgb(232,232,232);
}

.vclCodeWrap {
  white-space: pre-wrap;
}

h1 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h2 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h3 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h4 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h5 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h6 {
  color: rgb(48,48,48);
  font-family: inherit;
  font-weight: 500;
  text-rendering: optimizelegibility;
  line-height: 1.428;
}

h1 {
  font-size: 2.08em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.7em;
  margin-top: 0.65em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.27em;
  margin-top: 0.75em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.1em;
  margin-top: 0.85em;
  margin-bottom: 0.4em;
}

h5 {
  font-size: 0.95em;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

h6 {
  font-size: 0.82em;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0em;
  margin-bottom: 1.3em;
}

/* Anchors */

a {
  text-decoration: none;
  color: #00ADEF;
}

a:visited {
  text-decoration: none;
  color: #00ADEF;
}

a:active {
  text-decoration: none;
  color: #00ADEF;
}

a:hover {
  text-decoration: none;
  color: #00ADEF;
}

a:hover {
    color: #005F84;
}

a.vclDisabled {
    cursor: default;
}

a.vclContentLink {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;
    vertical-align: text-bottom;
}

a.vclContentLink > .vclIcogram {
      display: inline;
}

a.vclContentLink > .vclIcogram > *:first-child {
        margin-left: 0.1em;
}

a.vclContentLink > .vclIcogram > * {
        margin: 0 0.1em 0 0;
}

a.vclContentLink > .vclIcogram > *:last-child {
        margin-right: 0.1em;
}

a.vclContentLink > .vclIcogram .vclText {
        text-decoration: none;
}

a.vclContentLink > .vclIcogram .vclIcon {
        text-decoration: none;
}

.vclDisabled {
  color: rgb(119,119,119);
}

a.vclDisabled {
  color: rgb(119,119,119);
}

.vclSecondaryTextColor {
  color: rgb(119,119,119);
}

/* Prevents sub and sup affecting line-height */

sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Text selection coloring */

*::-moz-selection {
  background: #000000;
  color: #FFFFFF;
  text-shadow: none;
}

*::selection {
  background: #000000;
  color: #FFFFFF;
  text-shadow: none;
}

*::-ms-selection {
  background: #000000;
  color: #FFFFFF;
  text-shadow: none;
}

*::-moz-selection {
  background: #000000;
  color: #FFFFFF;
  text-shadow: none;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.demo .label {
    min-width: 12rem;
}

.demo .color {
    padding: 0.5rem;
    padding-left: 1rem;
    width: 10rem;
    height: 1.9rem;
}

.demo .color:empty {
    display: block;
}

.demo .black {
    background-color: #000000;
}

.demo .white {
    background-color: #FFFFFF;
}

.demo .grayd5 {
    background-color: rgb(27,27,27);
}

.demo .grayd4 {
    background-color: rgb(38,38,38);
}

.demo .grayd3 {
    background-color: rgb(48,48,48);
}

.demo .grayd2 {
    background-color: rgb(71,71,71);
}

.demo .grayd1 {
    background-color: rgb(106,106,106);
}

.demo .gray {
    background-color: rgb(119,119,119);
}

.demo .grayl1 {
    background-color: rgb(152,152,152);
}

.demo .grayl2 {
    background-color: rgb(185,185,185);
}

.demo .grayl3 {
    background-color: rgb(221,221,221);
}

.demo .grayl4 {
    background-color: rgb(232,232,232);
}

.demo .grayl5 {
    background-color: rgb(241,241,241);
}

.demo .grayl6 {
    background-color: rgb(255,255,255);
}

.demo .badarker {
    background-color: #005F84;
}

.demo .badark {
    background-color: #0888BF;
}

.demo .ba {
    background-color: #00ADEF;
}

.demo .balight {
    background-color: #96DCFA;
}

.demo .balighter {
    background-color: #c7d9f1;
}

.demo .baoverlay {
    background-color: hsla(197, 100%, 47%, 0.4);
}

.demo .bprimary {
    background-color: #428bca;
}

.demo .bsuccess {
    background-color: #5cb85c;
}

.demo .binfo {
    background-color: #5bc0de;
}

.demo .bwarning {
    background-color: #f0ad4e;
}

.demo .bdanger {
    background-color: #d9534f;
}

.demo .glass1 {
    background-color: rgba(0, 0, 0, 0.3);
}

.demo .glass2 {
    background-color: rgba(0, 0, 0, 0.15);
}

.demo .empdc {
    background-color: rgb(31, 74, 111);
}

.demo .empmc {
    background-color: #428bca;
}

.demo .emplc {
    background-color: rgb(187, 213, 236);
}

.demo .primdc {
    background-color: #000000;
}

.demo .primmc {
    background-color: rgb(71,71,71);
}

.demo .primlc {
    background-color: #FFFFFF;
}

.demo .succdc {
    background-color: rgb(45, 103, 45);
}

.demo .succmc {
    background-color: #5cb85c;
}

.demo .succlc {
    background-color: rgb(198, 230, 198);
}

.demo .infodc {
    background-color: rgb(31, 124, 152);
}

.demo .infomc {
    background-color: #5bc0de;
}

.demo .infolc {
    background-color: rgb(217, 240, 247);
}

.demo .warningdc {
    background-color: rgb(174, 108, 15);
}

.demo .warningmc {
    background-color: #f0ad4e;
}

.demo .warninglc {
    background-color: rgb(252, 237, 217);
}

.demo .errordc {
    background-color: rgb(138, 34, 30);
}

.demo .errormc {
    background-color: #d9534f;
}

.demo .errorlc {
    background-color: rgb(244, 206, 205);
}

.demo .dangerdc {
    background-color: rgb(138, 34, 30);
}

.demo .dangermc {
    background-color: #d9534f;
}

.demo .dangerlc {
    background-color: rgb(244, 206, 205);
}

