@use "../theme.scss" as *;
@use "../button.scss" as *;
@use "../button-group.scss";
@use "../icogram.scss" as *;
@use "../icon.scss" as *;
@use "../input.scss" as *;
@use "../flex-grid.scss";

.spinner {
  & .button-group.vertical {
    width: calc(#{$input-elem-height} + 0.5em);
    height: 100%;

    & .button {
      height: calc(#{$input-elem-height} / 2);
    }

    & > .button {
      border-radius: 0;
    }
  }
}
