@use "../theme.scss" as *;
@use "../token.scss" as *;
@use "../input.scss" as *;

.token-input {
  & > .input,
  & > .input:focus {
    border: 0;
    width: auto;
    margin: 0;
    min-width: 8em;
  }

  & .token-container {
    padding-top: 0.2em;
  }
}
