*.*~
*.swp
*.swo
.idea
.cache
.DS_Store
.settings
.project
.vscode
.editorconfig
.eslintignore
.eslintrc
npm-debug.log
node_modules
localhost_*
lerna-debug.log
/tools/preprocessor/coverage
/themes/**/build
/modules/**/build
