@import "normalize.css"
@import "@vcl/theme"

select,
textarea,
input,
.vclInput
  border-top-width: 0
  border-left-width: 0
  border-right-width: 0

select[multiple],
select[multiple]:focus
  border-top-width: 1px
  border-left-width: 1px
  border-right-width: 1px
  border-bottom-width: 1px

select:focus,
textarea:focus,
input:focus,
.vclInput:focus,
.vclInput.vclFocused
  border-width: 2px
  border-top-width: 0
  border-left-width: 0
  border-right-width: 0
