@import "@vcl/theme"


*::-webkit-scrollbar
  width: var(--scrollbar-width)
  color: inherit
  background-color: var(--scrollbar-bg-color)

*::-webkit-scrollbar-track
  border-radius: 0
  background-color: var(--scrollbar-track-bg-color)

*::-webkit-scrollbar-thumb
  background-color: var(--scrollbar-thumb-bg-color)
