@use "../theme.scss" as *;
@use "../input.scss" as *;
@use "../button.scss" as *;
@use "../select.scss" as *;
@use "../token-input.scss" as *;
@use "../typography.scss" as *;
@use "./index.scss";
@import "https://use.fontawesome.com/releases/v6.1.1/css/all.css";

.demo_ig {
  & .input-group {
    justify-content: space-between;
  }
  & .input-field {
    flex: 0 0 80%;
  }
}