@use "../theme.scss" as *;

.form-control-group {
  display: block;
  margin-bottom: $form-control-vertical-gap;

  & > label:first-child {
    cursor: pointer;
    display: block;
    font-size: $form-control-label-font-size;
    font-weight: $form-control-label-font-weight;
    color: $form-control-label-color;

    margin-top: 0.75em;
    margin-bottom: 0.5em;

    & .required-indicator {
      line-height: inherit;
    }

    & .form-control-sub-label {
      font-size: 0.9em;
      padding-left: 0.6em;
      color: $form-control-sublabel-color;
    }
  
    & > .required-indicator {
      font-size: 1.2em;
      font-style: normal;
      font-weight: bold;
      line-height: 0.85em;
      position: relative;
      vertical-align: middle;
      padding-left: 0.2em;
      color: $form-control-label-required-hint-color;
    }
  }

  &.focused > label:first-child {
    color: $input-border-focus-color;
    opacity: 1;
  }

  &.disabled > label:first-child {
    cursor: initial;
  }
}
