@import "@vcl/theme"

/* Size modulation utils for text and block elements */

.scale75p
  font-size: 0.75em

.scale85p
  font-size: 0.85em

.scale110p
  font-size: 1.10em

.scale115p
  font-size: 1.15em

.scale120p
  font-size: 1.20em

.scale130p
  font-size: 1.3em

.scale155p
  font-size: 1.55em

.scale180p
  font-size: 1.8em

.scale250p
  font-size: 2.5em

.scale300p
  font-size: 3em
