@import "normalize.css"
@import "@vcl/theme"

.vclResponsiveImageContainer
  color: var(--responsive-image-container-color)
  width: 100%

.vclResponsiveImage
  max-width: 100%
  height: auto
  display: block
