@use "../theme.scss" as *;
@use "../button.scss" as *;
@use "../select-list.scss" as *;
@use "../icogram.scss" as *;
@use "../input.scss" as *;
@use "../embedded-input-button.scss";

.select {
  cursor: pointer;

  & .input {
    background-color: $input-bg-color;
    cursor: pointer;
  }
}
