@use "../theme.scss" as *;

figure {
  margin: 0;
  margin-bottom: $block-elem-vertical-gap;

  & img {
    margin-bottom: 0.5em;
  }

  & figcaption {
    display: block;
    font-weight: normal;
    font-size: 1.1em;
  }
}
