@use "../theme.scss" as *;

.product-list {
  width: 100%;
  padding: 0;

  & > tbody tr {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $product-list-border-color;
    color: $product-list-color;
    padding-bottom: 10px;
  }

  & .p-l-name {
    font-weight: bold;
    color: $product-list-name-color;
  }

  & .p-l-data {
    white-space: nowrap;
  }

  & .p-l-price {
    text-align: right;
  }

  & .p-l-controls {
    text-align: right;

    & .input-field {
      width: 4em;
      display: inline-flex;
    }
  }

  & .product-image img {
    width: 100%;
    max-width: 8em;
  }
}

.product {
  & img {
    display: flex;
    width: 50%;
  }

  & table {
    width: 50%;
    margin-top: 5em;
  }
}

@media (--sm-viewport) {
  table.product-list,
  .product-list thead,
  .product-list tbody,
  .product-list th,
  .product-list td,
  .product-list tr {
    display: block;
  }

  .product-list thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }

  .product-list td {
    border: none;
    position: relative;

    &:before {
      position: absolute;
      top: 1em;
      left: 1em;
      width: 45%;
      padding-right: 1em;
      white-space: nowrap;
    }
  }

  .product-image img {
    width: 100%;
    max-width: none !important;
  }
}
