@import "normalize.css"
@import "@vcl/theme"

@import "@vcl/typography"
@import "@vcl/button"
@import "@vcl/toolbar"
@import "@vcl/flex-layout"
@import "@vcl/font-awesome"
@import "@vcl/icogram"
@import "@vcl/icon"

.vclPager
  padding: 0
  &.vclToolbar
    background-color: transparent
