@use "../theme.scss" as *;
@use "../icon.scss" as *;

.checkbox {
  display: inline-block;
  margin-bottom: $form-control-vertical-gap;
  overflow: auto;
  user-select: none;

  & .checkbox-label {
    cursor: pointer;
    outline: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    line-height: $form-control-label-line-height;
    margin-top: 0;
    color: $checkbox-label-color;
  }

  & .checkbox-label .checkbox-input {
    width: $checkbox-size;
    height: $checkbox-size;
    border-radius: $checkbox-radius;
    border-width: $checkbox-border-width;
    border-color: $checkbox-border-color;
    border-style: solid;
    margin-right: $checkbox-label-right-margin;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .checkbox-label .checkbox-input.checked {
    background-color: $checkbox-fill-color;
    border-color: transparent;
  }

  & .checkbox-label:hover {
    & > .checkbox-input {
      color: $checkbox-hover-color;
    }
  }

  & .checkbox-label:focus-visible {
    & > .checkbox-input {
      color: $checkbox-focus-color;
    }
  }

  &.disabled .checkbox-label {
    cursor: default;
    & .checkbox-input {
      color: $checkbox-disabled-color;
    }
  }

  .icon {
    color: $checkbox-marker-color;
    font-size: $checkbox-marker-size;
  }
}

// form control group modifiers
.form-control-group .checkbox {
  margin-bottom: 0;
}
