.vclGoToTop
  position: fixed
  bottom: 1em
  color: var(--gototop-color)
  background-color: var(--gototop-bg-color)
  border-radius: 0.25em
  opacity: 1
  transition: opacity .2s ease
  &:hover
    opacity: 0.8
