@import "@vcl/theme"
@import "@vcl/typography"

.vclContentArea
  background-color: var(--content-area-primary-bg-color)
  &.vclTransparent
    background-color: transparent

.vclContentAreaBgColor
  background-color: var(--content-area-primary-bg-color)
  &.vclSecondary
    background-color: var(--content-area-secondary-bg-color)
