@import "@vcl/theme"

.content-area
  background-color: var(--content-area-primary-bg-color)
  &.transparent
    background-color: transparent

.content-area-bg-color
  background-color: var(--content-area-primary-bg-color)
  &.secondary
    background-color: var(--content-area-secondary-bg-color)
