@import "@vcl/theme";

.content-area {
  background-color: $content-area-primary-bg-color;

  &.transparent {
    background-color: transparent;
  }
}

.content-area-bg-color {
  background-color: $content-area-primary-bg-color;

  &.secondary {
    background-color: $content-area-secondary-bg-color;
  }
}
