/**
 * The VCL Restore theme.
 *
 * It defines all variables required to be set by the modules included in
 * the 'core-modules' module and narrows them down to a small set
 * of variables required.
 */

 @forward "../theme.scss" with (
   /* Colors
     * ====== */
   $brand-accent-darker: #FF5F22 !default,
   $brand-accent-dark: #FF8330 !default,
   $brand-accent: #FFAE44 !default,
   $brand-accent-light: #FFB327 !default,
   $brand-accent-lighter: #FFC236 !default,
   
   $brand-danger: yellow !default,
   
   /* Fonts
   * ===== */
  //  $font-family-theme: "Muli", Helvetica, Arial, "Lucida Grande", sans-serif !default
 );  
 
