@use "../theme.scss" as *;

.img-shape-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 0.33em;
  border: 1px solid $thumbnail-border-color;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img-shape-rounded {
  border-radius: 0.85em;
}

.img-shape-circular {
  border-radius: 50%;
}
