@import "normalize.css"
@import "@vcl/theme"
@import "@vcl/button"
@import "@vcl/button-group"
@import "@vcl/icogram"
@import "@vcl/icon"
@import "@vcl/input"
@import "@vcl/input-group"
@import "@vcl/flex-grid"

.vclSpinner
  & .vclButtonGroup.vclVertical
    width: calc(var(--input-elem-height) + 0.5em)
    & .vclButton
      height: calc(var(--input-elem-height) / 2)
    & > .vclButton
      border-radius: 0
