@import "normalize.css"
@import "@vcl/theme"


.vclSpinner
  & .vclButtonGroup.vclVertical
    width: calc(var(--input-elem-height) + 0.5em)
    & .vclButton
      height: calc(var(--input-elem-height) / 2)
    & > .vclButton
      border-radius: 0
