
$bp-xs-min: 0px !default;
$bp-xs-max: 599px !default;
$bp-sm-min: 600px !default;
$bp-sm-max: 1023px !default;
$bp-md-min: 1024px !default;
$bp-md-max: 1439px !default;
$bp-lg-min: 1440px !default;
$bp-lg-max: 1919px !default;
$bp-xl-min: 1920px !default;

