@custom-media --sm-viewport (max-width: 390px)
@custom-media --md-viewport (min-width: 390px) and (max-width: 1280px)
@custom-media --lg-viewport (min-width: 1280px)

@custom-media --up-to-smartphone-landscape (max-width: 640px)
