@import "@vcl/theme"

@custom-media --sm-viewport (max-width: 390px)
@custom-media --md-viewport (min-width: 391px) and (max-width: 1279px)
@custom-media --lg-viewport (min-width: 1280px)
@custom-media --sl-viewport (min-width: 1920px)
@custom-media --ul-viewport (min-width: 2560px)

@custom-media --up-to-smartphone-landscape (max-width: 640px)
