@use "../theme.scss" as *;

.pop-over {
  position: absolute;
  box-sizing: border-box;
  border-radius: 0.25em;
  padding: 0.5rem;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: $popover-border-color;
  background-color: $popover-bg-color;
  box-shadow: 0px 3px 8px $popover-shadow-color;
  color: $popover-color;
  z-index: 5;
}
