@import "@vcl/theme"


.vclApplicationHeader
  box-sizing: border-box
  margin-top: 1.5em
  margin-bottom: 1.5em
  color: var(--app-header-color)
  background-color: var(--app-header-bg-color)
  & .vclLogo
    margin-left: 0.5em
    width: var(--app-header-logo-max-width)
  & .vclAppName
    font-size: 1.4em
    margin-top: 0
    margin-left: 0.8em
    margin-right: 0.8em
    margin-bottom: 0
    font-weight: normal
