@import "@vcl/theme";

.data-grid {
  margin-bottom: $block-elem-vertical-gap;
  display: flex;
  flex-direction: column;
}

.calendar {
  background-color: $calendar-bg-color;
  height: 100%;
  overflow: hidden;
}

.data-grid .d-g-row,
.data-grid .d-g-cell {
  display: flex;
  flex: 1;
  border-collapse: collapse;
}

.d-g-align-centered .d-g-cell,
.d-g-align-centered.d-g-cell {
  justify-content: center;
  text-align: center;
}

.d-g-align-right .d-g-cell,
.d-g-align-right.d-g-cell {
  justify-content: flex-end;
  text-align: right;
}

.d-g-v-align-middle .d-g-cell,
.d-g-v-align-middle.d-g-cell {
  align-items: center;
}

.d-g-v-align-bottom .d-g-cell,
.d-g-v-align-bottom.d-g-cell {
  align-items: flex-end;
}
