@import "@vcl/theme";

.gallery {
  margin-bottom: $block-elem-vertical-gap;
  position: relative;
  width: 100%;
  background-color: $gallery-bg-color;
}

.gallery-header {
  margin-top: 0.6em;
  margin-bottom: 1em;
  width: 100%;
  background-color: $gallery-header-bg-color;
  color: $gallery-header-color;
  text-align: center;
}

.gallery-content {
  z-index: 1;
  position: relative;
}

.gallery-footer {
  padding: 0.5em;
  background-color: $gallery-footer-bg-color;
  color: $gallery-footer-color;
}

.gallery {
  & .gallery-content {
    & .gallery-image {
      position: relative;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      object-fit: contain;
    }

    & .gallery-next-pane,
    & .gallery-prev-pane {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 2;
      cursor: pointer;
    }

    & .gallery-next-pane {
      right: 0;
    }

    & .gallery-prev-pane {
      left: 0;
    }

    & .gallery-next-button,
    & .gallery-prev-button {
      z-index: 3;
      top: calc(50% - 3em);
      position: absolute;
      height: 6em;
      padding: 0;
      width: 7%;
      max-width: 4em;
      margin: 0;
      opacity: $gallery-initial-buttons-opacity;
      transition: 0.2s opacity ease;

      & .icon {
        font-size: 3em;
      }

      &:hover {
        opacity: 1;
        display: block;
      }
    }

    & .gallery-next-button {
      right: 0;
    }

    & .gallery-prev-button {
      left: 0;
    }
  }

  & .gallery-thumbs {
    overflow-x: auto;
    text-align: center;

    & .gallery-thumb-wrapper {
      z-index: 1;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-width: 4px;
        border-style: solid;
        border-color: transparent;
        cursor: pointer;
      }

      &:hover {
        &:after {
          background-color: $gallery-thumbnail-hover-bg-color;
        }
      }

      &.selected:after {
        border-color: $gallery-thumbnail-selected-border-color;
      }
    }

    & .gallery-thumb {
      box-sizing: border-box;
      object-fit: contain;
      display: block;
    }
  }
}
