@import "@vcl/theme";
@import "@vcl/icon";

.icogram {
  white-space: nowrap;
  position: relative;

  & > * {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.25em 0 0;
  }

  & > *:first-child {
    margin-left: 0;
  }

  & > *:last-child {
    margin-right: 0;
  }

  & > *:only-child {
    margin: 0;
  }

  & .text {
    vertical-align: middle;
  }

  & a.text {
    color: inherit;
  }

  &.ver {
    & > * {
      margin: 0;
    }
  }
}
