@import "@vcl/theme"

.vclEffect--blur
  -webkit-filter: blur(4px) contrast(0.4) brightness(1.4)
  -moz-filter: blur(4px) contrast(0.4) brightness(1.4)
  -o-filter: blur(4px) contrast(0.4) brightness(1.4)
  -ms-filter: blur(4px) contrast(0.4) brightness(1.4)
