/**/




:root {
  /* Colors
     ====== */
  /* Grays */
  /* Brand Accent Colors */
  /* Semantic Brand Colors */
  /* Shadows, transparencies etc. */
  /* Semantic Colors */
  /* Fonts
     ===== */
}




.vclContainer {
  border: 0;
}




.demo .label {
  min-width: 12rem;
}




.demo .color {
  padding: 0.5rem;
  padding-left: 1rem;
  width: 10rem;
  height: 1.9rem;
}




.demo .color:empty {
  display: block;
}




.demo .black {
  background-color: #000000;
}




.demo .white {
  background-color: #FFFFFF;
}




.demo .grayd5 {
  background-color: rgb(27,27,27);
}




.demo .grayd4 {
  background-color: rgb(38,38,38);
}




.demo .grayd3 {
  background-color: rgb(48,48,48);
}




.demo .grayd2 {
  background-color: rgb(71,71,71);
}




.demo .grayd1 {
  background-color: rgb(106,106,106);
}




.demo .gray {
  background-color: rgb(119,119,119);
}




.demo .grayl1 {
  background-color: rgb(152,152,152);
}




.demo .grayl2 {
  background-color: rgb(185,185,185);
}




.demo .grayl3 {
  background-color: rgb(221,221,221);
}




.demo .grayl4 {
  background-color: rgb(232,232,232);
}




.demo .grayl5 {
  background-color: rgb(241,241,241);
}




.demo .grayl6 {
  background-color: rgb(255,255,255);
}




.demo .badarker {
  background-color: #005F84;
}




.demo .badark {
  background-color: #0888BF;
}




.demo .ba {
  background-color: #00ADEF;
}




.demo .balight {
  background-color: #96DCFA;
}




.demo .balighter {
  background-color: #c7d9f1;
}




.demo .baoverlay {
  background-color: hsla(197, 100%, 47%, 0.4);
}




.demo .bprimary {
  background-color: #428bca;
}




.demo .bsuccess {
  background-color: #5cb85c;
}




.demo .binfo {
  background-color: #5bc0de;
}




.demo .bwarning {
  background-color: #f0ad4e;
}




.demo .bdanger {
  background-color: #d9534f;
}




.demo .glass1 {
  background-color: rgba(0, 0, 0, 0.3);
}




.demo .glass2 {
  background-color: rgba(0, 0, 0, 0.15);
}




.demo .empdc {
  background-color: rgb(31, 74, 111);
}




.demo .empmc {
  background-color: #428bca;
}




.demo .emplc {
  background-color: rgb(187, 213, 236);
}




.demo .primdc {
  background-color: #000000;
}




.demo .primmc {
  background-color: rgb(71,71,71);
}




.demo .primlc {
  background-color: #FFFFFF;
}




.demo .succdc {
  background-color: rgb(45, 103, 45);
}




.demo .succmc {
  background-color: #5cb85c;
}




.demo .succlc {
  background-color: rgb(198, 230, 198);
}




.demo .infodc {
  background-color: rgb(31, 124, 152);
}




.demo .infomc {
  background-color: #5bc0de;
}




.demo .infolc {
  background-color: rgb(217, 240, 247);
}




.demo .warningdc {
  background-color: rgb(174, 108, 15);
}




.demo .warningmc {
  background-color: #f0ad4e;
}




.demo .warninglc {
  background-color: rgb(252, 237, 217);
}




.demo .errordc {
  background-color: rgb(138, 34, 30);
}




.demo .errormc {
  background-color: #d9534f;
}




.demo .errorlc {
  background-color: rgb(244, 206, 205);
}




.demo .dangerdc {
  background-color: rgb(138, 34, 30);
}




.demo .dangermc {
  background-color: #d9534f;
}




.demo .dangerlc {
  background-color: rgb(244, 206, 205);
}