@import "@vcl/theme";

.loading-layer-container {
  position: relative;
}

.loading-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 250;
  background-color: $loading-layer-cover-bg-color;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & .loading-layer-content {
    width: 100%;
    text-align: center;
  }
}
