@import "normalize.css"
@import "@vcl/theme"
@import "@vcl/typography"
@import "@vcl/utils"


.vclLoadingLayerContainer
  position: relative

.vclLoadingLayer
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: block
  z-index: 250
  background-color: var(--loading-layer-cover-bg-color)
  outline: none
  display: flex
  align-items: center
  justify-content: flex-start
  & .vclLoadingLayerContent
    width: 100%
    text-align: center
