@media only screen and (max-width: 640px) {
  table,
  .vclTable {
    width: 100% !important;
    max-width: none !important
  }

  .items {
    width: 150% !important
  }
    .footer> div {
      display: block;
      float: none;
      margin-top: 1.4em;
      width: 100% !important
  }
}

