@import "normalize.css"
@import "@vcl/theme"

.vclImgShapeThumbnail
  display: inline-block
  max-width: 100%
  height: auto
  padding: 0.33em
  border: 1px solid var(--thumbnail-border-color)
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)

.vclImgShapeRounded
  border-radius: 0.85em

.vclImgShapeCircular
  border-radius: 50%
