@use "../theme.scss" as *;

.application-footer {
  box-sizing: border-box;
  position: relative;
  color: $app-footer-color;
  background-color: $app-footer-bg-color;
  margin-top: 2em;
  margin-bottom: 2em;
}
