@import "normalize.css"
@import "@vcl/theme"
@import "@vcl/token"


.vclTokenInput
  & > .vclInput,
  & > .vclInput:focus
    border: 0
    width: auto
    margin: 0
    min-width: 8em
  & .vclTokenContainer
    padding-top: 0.2em
