@import "@vcl/theme"

.vclContainer
  box-sizing: border-box
  background-color: var(--container-bg-color)
  border-width: 1px
  border-color: var(--container-border-color)
  border-style: solid
  border-radius: var(--container-border-radius)
  padding: 0.6rem
  min-width: 1em
  margin-bottom: var(--block-elem-vertical-gap)
  &.vclTransparent
    background-color: transparent
