@import "@vcl/theme";
@import "@vcl/input";

.input-group {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  margin-bottom: $form-control-vertical-gap;

  & > :not(:first-child) {
    margin-left: -$input-border-width;
  }

  & > .input,
  & > .input-group-emb {
    margin-bottom: 0;

    &:focus {
      z-index: 1;
    }
  }

  & > .button {
    flex: 1 0 auto;
    display: block;
    height: auto;
  }

  & .input-group-text {
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 92%);
    color: hsl(0, 0%, 20%);
    font-weight: normal;
    border-color: $input-border-color;
    border-width: $input-border-width;
    border-style: solid;
  }
}

.input-group .input,
.input-group select {
  display: flex;
  border-style: solid;
  box-sizing: border-box;
}
