@import "@vcl/theme"
@import "./viewport.css"

.viewport
  margin: 0 /* override user agent style for body tag */
  min-height: 100vh
  background-color: var(--app-viewport-bg-color)

.viewport-bg
  background-color: var(--app-viewport-bg-color)

.app
  background-color: var(--app-area-bg-color)
  max-width: var(--app-area-max-width)
  min-width: var(--app-area-min-width)
  margin-left: auto
  margin-right: auto
  clear: fix

.layout-width
  max-width: var(--app-area-max-width)
