/* Set the viewport width to the device width */

@viewport { width: device-width; }

/*
@-moz-viewport { width: device-width }
@-o-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@viewport { width: device-width; }
*/
