@use "../theme.scss" as *;
@use "../list.scss" as *;
@use "../print.scss" as *;
@use "../size-modulation.scss";
@use "../sum-table.scss";
@use "../table.scss" as *;
@use "../typography.scss" as *;
@use "../utils.scss" as *;
@use "./index.scss";

@media only screen and (max-width: 640px) {
  table,
  .table {
    width: 100% !important;
    max-width: none !important;
  }

  .items {
    width: 150% !important;
  }

  .footer {
    & > div {
      display: block;
      float: none;
      margin-top: 1.4em;
      width: 100% !important;
    }
  }
}
