@import "@vcl/theme";
@import "@vcl/button";

.pagination {
  margin-top: 0;
  margin-bottom: $block-elem-vertical-gap;
  padding: 0;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  & li {
    list-style: none outside none;
    border-width: 0;
  }

  & > li.separator {
    cursor: default;
    line-height: $input-elem-height;
    padding: 0 0.3em;
  }

  & > li.selected {
    cursor: default;
    color: $pagination-selected-page-color;
    background-color: $pagination-selected-page-bg-color;
    line-height: $input-elem-height;
    border: 0;
  }
}
